html, body {
  box-sizing: border-box;
  font-family: 'Outfit';
  margin: 0;
  scroll-behavior: smooth;
}
html {
  font-size: 16px;
}
body {
  background-color: rgb(244, 245, 248);
}
a, img, button {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: white;
}
/* Header */
.header {
  height: 4rem;
  display: flex;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,.3);
  box-sizing: border-box;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #556878;
  z-index: 1;
}
.header-content {
  display: flex;
  flex-direction: row;
  height: 4rem;
  width: 60rem;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}
.logo-section {
  display: flex;
  width: 100%;
  padding: 0.6rem 0 0.6rem 0;
}
.menu-section {
  display: flex;
  width: 34rem;
  height: 4rem;
  font-weight: 100;
  font-size: 1.1rem;
  justify-content: end;
  font-weight: bold;
  gap: 1rem;
  box-sizing: border-box;
}
.menu-section a {
  padding: 0;
  align-self: center;
  color: white;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}
/* "About us" section */
.aboutus {
display: flex;
flex-direction: column;
width: 60rem;
height: auto;
margin: 0 auto;
box-sizing: border-box;
padding: 2rem 1rem 1rem 1rem;
}
.aboutus-container {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 5px 0 rgba(0,0,0,.3);
  box-sizing: border-box;
  border-radius: 0.5rem;
  gap: 1rem;
  background-color: #FFEB09;
  padding: 1rem 0 1rem 0;
}
.aboutus-container-video {
  display: flex;
  position: relative;
  height: 25rem;
  box-sizing: border-box;
  box-shadow: 0px -3px 4px -2px rgba(0,0,0,.3), 0px 3px 4px -2px rgba(0,0,0,.3);
}
.aboutus-container-video-text-part1 {
  position: absolute;
  font-weight: bold;
  width: 16.1rem;
  font-size: 1.7rem;
  color: #FFEB09;
  margin: 0;
  top: 1rem;
  left: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-align: justify;
  background-color:rgba(85, 104, 120, 0.8);
}
.aboutus-container-video-text-part2 {
  position: absolute;
  font-weight: bold;
  width: 30rem;
  font-size: 1.7rem;
  color: white;
  margin: 0;
  top: 19rem;
  left: 26rem;
  color: #FFEB09;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color:rgba(85, 104, 120, 0.8);
}
video {
  object-fit: cover;
  object-position: 50% 99%;
  width: 100%;
}
.aboutus-container-slider {
  display: flex;
  position: relative;
  height: 25rem;
  box-sizing: border-box;
  box-shadow: 0px -3px 4px -2px rgba(0,0,0,.3), 0px 3px 4px -2px rgba(0,0,0,.3);
}
#slideOne {
  position: absolute;
  font-weight: bold;
  font-size: 1.7rem;
  color: #FFEB09;
  width: 100%;
  height: 25rem;
  object-fit: cover;
  box-sizing: border-box;
  background-image: url(img/km-100-120-parkplatz.webp);
  background-size: cover;
  transition-delay: 0ms;
}
#slideOne p {
  position: absolute;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color:rgba(85, 104, 120, 0.8);
  width: 24.3rem;
  right: 1rem;
  bottom: 1rem;
  margin: 0;
}
#slideTwo {
  position: absolute;
  font-weight: bold;
  color: #FFEB09;
  font-size: 1.7rem;
  height: 25rem;
  width: 100%;
  object-fit: cover;
  box-sizing: border-box;
  background-image: url(img/slide3.jpg);
  background-size: cover;
  background-position: 50% 80%;
  transition-delay: 0ms;
}
#slideTwo p {
  position: absolute;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color:rgba(85, 104, 120, 0.8);
  width: 31rem;
  left: 1rem;
  top: 1rem;
  margin: 0;
}
#slideThree {
  position: absolute;
  font-weight: bold;
  font-size: 1.7rem;
  color: #FFEB09;
  height: 25rem;
  width: 100%;
  object-fit: cover;
  box-sizing: border-box;
  background-image: url(img/slide2.jpg);
  background-size: cover;
  background-position: 50% 80%;
  transition-delay: 0ms;
}
#slideThree p {
  position: absolute;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color:rgba(85, 104, 120, 0.8);
  width: 37rem;
  left: 1rem;
  bottom: 1rem;
  margin: 0;
}
#slideFour {
  position: absolute;
  font-weight: bold;
  font-size: 1.7rem;
  color: #FFEB09;
  height: 25rem;
  width: 100%;
  object-fit: cover;
  box-sizing: border-box;
  background-image: url(img/slide4.jpg);
  background-size: cover;
  background-position: 0% 100%;
  transition-delay: 0ms;
  opacity: 0;
}
#slideFour p {
  position: absolute;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color:rgba(85, 104, 120, 0.8);
  width: 30rem;
  left: 1rem;
  bottom: 1rem;
  margin: 0;
}
#slideFive {
  position: absolute;
  font-weight: bold;
  font-size: 1.7rem;
  color: #FFEB09;
  height: 25rem;
  width: 100%;
  object-fit: cover;
  box-sizing: border-box;
  background-image: url(img/slide5.jpg);
  background-size: cover;
  background-position: 0% 100%;
  transition-delay: 0ms;
}
#slideFive p {
  position: absolute;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color:rgba(85, 104, 120, 0.8);
  width: 30rem;
  right: 1rem;
  bottom: 1rem;
  margin: 0;
}
.aboutus-container-slider-image {
  opacity: 0;
  transition: 1s opacity ease-in-out;
  transition-delay: 1s;
}
/* Contracting page */
.contracting {
  display: flex;
  flex-direction: column;
  width: 60rem;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 1rem 1rem 1rem 1rem;
}
.contracting-title {
  position: absolute;
  top: 0.7rem;
  left: 1rem;
}
#ourServicesTitle {
  font-weight: bold;
  font-size: 1.3rem;
  color: white;
}
#ourservices {
  position: absolute;
  top: -5.5rem;
  visibility: hidden;
}
.contracting-container {
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 5px 0 rgba(0,0,0,.3);
  border-radius: 0.5rem;
  background-color: #556878;
  box-sizing: border-box;
  row-gap: 1rem;
  padding: 3rem 0 1rem 0;
}
.contracting-container-section {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  box-shadow: 0px -3px 4px -2px rgba(0,0,0,.3), 0px 3px 4px -2px rgba(0,0,0,.3);
}
.contracting-container-section img {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  object-fit: cover;
}
.contracting-container-text {
  height: 19rem;
  padding: 2.5rem;
  background-color: #FFEB09;
  color: black;
} 
.contracting-container p {
  font-size: 1.5rem;
  margin: 0;
  height: auto;
  font-weight: 300;
} 
#section2 {
  background-color: #FFEB09;
  color: black;
}
.contracting-container-text-price {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  gap: 0.5rem;
  padding-top: 0.5rem;
  width: 23.5rem;
}
.contracting-container-text-price p {
  text-align: center;
  color: white;
  background-color: #556878;
}
#price {
  position: absolute;
  top: -15rem;
  visibility: hidden;
}
#emergency {
  margin-top: 1.5rem;
}
#vat {
  text-align: center;
  font-size: 1.3rem;
  margin-top: 1.5rem;
}
#orderdiv{
  padding-bottom: 2rem;
}
.contracting-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
}
.contracting-form-container {
  box-shadow: 0px -3px 4px -2px rgba(0,0,0,.3), 0px 3px 4px -2px rgba(0,0,0,.3);
  box-sizing: border-box;
  font-size: 1.5rem;
  margin: 0;
  text-align: justify;
  height: auto;
  font-weight: 300;
  background-color: #FFEB09;
} 
#order {
  position: absolute;
  top: -5.5rem;
  visibility: hidden;
}
.contracting-form-container p {
  padding: 2rem 2.5rem 2rem 2.5rem;
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  outline: none;
  justify-content: left;
  align-items: end;
}
.form-fields {
  padding: 0.5rem;
  padding-right: 8rem;

}
.form-fields input, #message textarea {
  border-radius: 0.2rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  padding-left: 1rem;
  font-family: Nunito;
  width: 35rem;
}
#name input, #surname input, #company input, #email input, #phone input {
  appearance: none;
  border-width: 1px;
  height: 2rem;
}
#name label, #surname label, #company label, #email label, #phone label, #email label, #phone label {
  margin-right: 0.3rem;
}
#checkbox {
  margin: 0 auto;
  color: black;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 1.3rem;
  padding: 0;
}
#checkbox a {
  color: blue;
}
#checkbox input {
  vertical-align: middle;
  margin: 0 0 0.25rem 0;
  cursor: pointer;
  width: 1rem;
}
#phone p {
  margin: 0.5rem 11.2rem 0 0; 
  padding: 0; 
  font-size: 1.3rem; 
  text-align: right;
}
::placeholder {
  color: lightgray;
}
#radio input {
  width: 1rem;
}
#radio {
  padding-right: 14rem;
}
#submit {
  width: 15rem;
  margin: 0 auto;
  border: none;
  background-color: #556878;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.3rem;
  color: white;
  padding: 1rem 0 1rem 0;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
#submit:active {
  background-color: white;
  color: black;
}
/* Footer */
.footer {
  height: auto;
  display: block;
  box-shadow: 0px -3px 4px -2px rgba(0,0,0,.3), 0px 3px 4px -2px rgba(0,0,0,.3);
  box-sizing: border-box;
  width: 100%;
  background-color: #556878;
}
.footer-content {
  display: grid;
  height: auto;
  width: 60rem;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
  'details-title operating-hours-title links-title'
  'details-text operating-hours-text links-text'
  'copyright copyright copyright';
  row-gap: 0.5rem;
  column-gap: 1rem;
  color: white;
}
.footer-content h2 {
  font-size: 1.5rem;
  margin: 0;
  font-weight: bold;
  padding-bottom: 1rem;
}
.footer-content p, .footer-content a {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 0.5rem;
  text-align: right;
}
.details-title {
  grid-area: details-title;
}
.operating-hours-title {
  grid-area: operating-hours-title;
}
.links-title {
  grid-area: links-title;
}
.details-text {
  position: relative;
  grid-area: details-text;
  flex-direction: column;
  display: block;
  justify-self: end;
  text-align: right;
}
.qr-container {
  position: absolute;
  bottom: 0.3rem;
  display: flex;
  flex-direction: column-reverse;
  grid-column: 1;
  grid-row: 1 / 8;
  width: auto;
  height: auto;;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
.qr-container p {
  width: 6.5rem;
  margin: 0;
  font-size: 1rem;
  text-align: center;
}
.qr-field {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0.5rem;
  color: black;
  margin: 0;
  cursor: pointer;
}
.qr-field p {
  margin: 0;
  padding-top: 0.3rem;
}
.click {
  width: 6rem;
  height: 100%;
  align-self: center;
  padding-top: 0.5rem;
}
.qr {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 0.5rem;
}
.operating-hours-text {
  grid-area: operating-hours-text;
}
.links-text {
  grid-area: links-text;
  display: block;
  text-align: right;
}
.map {
  height: 11.2rem;
  border-radius: 0.5rem;
}
.copyright {
  grid-area: copyright;
  justify-items: center;
}
.copyright p {
  font-size: 1rem;
  margin: 0;
  padding: 0;

}
/* Up button */
#upBtn {
  display: none; 
  position: fixed;
  width: 3rem;
  height: 3rem;
  bottom: 3.1rem; 
  right: 2rem;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgb(181, 197, 216);
  color: black;
  cursor: pointer;
  padding: 0.1rem;
  font-weight: bold;
  border-radius: 50%; 
  font-size: 1rem;
  writing-mode: vertical-rl;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,.3);
  opacity: 0.7;
}
/* Mobile divs */
.mobile-menu-btn {
  display: none;
}
.menu-lang-mobile {
  display: none;
}
.lang-selector-mobile {
  display: none;
}
.nav-toggle {
  display: none;
}
.menu-section-mobile {
  display: none;
}
@media only screen and (min-width: 960px) { 
  html {
    font-size: 1vw;
  }
}
@media only screen and (max-width: 960px) {
  html {
    font-size: 1.6vw;
  }
}
@media only screen and (max-width: 760px) and (orientation: portrait) {
  html, body {
    box-sizing: border-box;
    font-family: 'Outfit';
    margin: 0;
    scroll-behavior: smooth;
  }
  html {
    font-size: 16px;
  }
  body {
    background-color: rgb(244, 245, 248);
  }
  a, img, button {
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: white;
  }
  .menu-lang {
    display: none;
  }
  .menu-section-dropdown {
    display: none;
  }
  /* Mobile menu */
  .menu-lang-mobile {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 4rem;
    right: 0;
    width: 70%;
    height: auto;
    background-color: white;
    z-index: 1;
  }
  .menu-section-mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    font-weight: 100;
    font-size: 1.3rem;
    font-weight: bold;
    box-sizing: border-box;
    padding-right: 0;
    padding-left: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);  
    gap: 1rem;
    align-items: end;
    padding-right: 1rem;
    background-color: #556878;
  }
  .menu-section-mobile a {
    height: 2rem;
    padding: 0;
    color: white;
    margin-bottom: 0.05rem;
  }
  .subcategory {
    font-size: 1.1rem;
    align-self: flex-end;
  }
  .mobile-menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1.375rem;
    width: 1.625rem;
  }
  .nav-toggle .bar {
    height: 0.25rem;
    width: 1.75rem;
    background-color: white;
    transition: all 100ms ease-in-out;
    border-radius: 0.3rem;
  }
  .x:nth-of-type(1) {
    transition: all 100ms ease-in-out;
    transform: rotate(45deg);
    transform-origin: top left;
    width: 1.75rem;
  }
  .x:nth-of-type(2) {
    transition: all 100ms ease-in-out;
    transform-origin: center;
    width: 0;
  }
  .x:nth-of-type(3) {
    transition: all 100ms ease-in-out;
    transform: rotate(-45deg);
    transform-origin: bottom left;
    width: 1.75rem;
  }
  /* Mobile header */
  .header {
    height: 3rem;
    display: block;
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,.3);
    box-sizing: border-box;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
  }
  .header-content {
    display: flex;
    flex-direction: row;
    height: 3rem;
    width: auto;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    justify-content: space-between;
    z-index: 1;
  }
  /* Header */
  .header {
    height: 4rem;
    display: flex;
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,.3);
    box-sizing: border-box;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #556878;
    z-index: 1;
  }
  .header-content {
    display: flex;
    flex-direction: row;
    height: 4rem;
    width: 60rem;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
  }
  .logo-section {
    display: flex;
    width: 70%;
    padding: 0.6rem 0 0.6rem 0;
  }
  .logo-section img {
    width: 100%;
  }
  .menu-section {
    display: flex;
    width: 34rem;
    height: 4rem;
    font-weight: 100;
    font-size: 1.1rem;
    justify-content: end;
    font-weight: bold;
    gap: 1rem;
    box-sizing: border-box;
  }
  .menu-section a {
    padding: 0;
    align-self: center;
    color: white;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
  }
  /* "About us" section */
  .aboutus {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 2rem 1rem 1rem 1rem;
  }
  .aboutus-container {
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,.3);
    box-sizing: border-box;
    border-radius: 0.5rem;
    gap: 1rem;
    background-color: #FFEB09;
    padding: 1rem 0 1rem 0;
  }
  .aboutus-container-video {
    display: flex;
    position: relative;
    height: 25rem;
    box-sizing: border-box;
    box-shadow: 0px -3px 4px -2px rgba(0,0,0,.3), 0px 3px 4px -2px rgba(0,0,0,.3);
  }
  .aboutus-container-video-text-part1 {
    position: absolute;
    font-weight: bold;
    width: 12.3rem;
    font-size: 1.3rem;
    color: #FFEB09;
    margin: 0;
    top: 1rem;
    left: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: justify;
    background-color:rgba(85, 104, 120, 0.8);
  }
  .aboutus-container-video-text-part2 {
    position: absolute;
    font-weight: bold;
    width: 21rem;
    height: 3rem;
    font-size: 1.2rem;
    color: white;
    margin: 0;
    top: 20rem;
    left: 0.8rem;
    color: #FFEB09;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color:rgba(85, 104, 120, 0.8);
    text-align: justify;
  }
  video {
    object-fit: cover;
    object-position: 70% bottom;
    width: 100%;
  }
  .aboutus-container-slider {
    display: flex;
    position: relative;
    height: 25rem;
    box-sizing: border-box;
    box-shadow: 0px -3px 4px -2px rgba(0,0,0,.3), 0px 3px 4px -2px rgba(0,0,0,.3);
  }
  #slideOne {
    position: absolute;
    font-weight: bold;
    font-size: 1.2rem;
    color: #FFEB09;
    width: 100%;
    height: 25rem;
    box-sizing: border-box;
    background-image: url(img/km-100-120-parkplatz.webp);
    background-size: cover;
    background-position: 60% 0%;
    transition-delay: 0ms;
  }
  #slideOne p {
    position: absolute;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color:rgba(85, 104, 120, 0.8);
    width: 9.5rem;
    height: auto;
    right: 1rem;
    bottom: 1rem;
    margin: 0;
  }
  #slideTwo {
    position: absolute;
    font-weight: bold;
    color: #FFEB09;
    font-size: 1.2rem;
    height: 25rem;
    width: 100%;
    object-fit: cover;
    box-sizing: border-box;
    background-image: url(img/slide3.jpg);
    background-size: cover;
    background-position: 50% 80%;
    transition-delay: 0ms;

  }
  #slideTwo p {
    position: absolute;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color:rgba(85, 104, 120, 0.8);
    width: 17rem;
    left: 1rem;
    top: 1rem;
    margin: 0;
  }
  #slideThree {
    position: absolute;
    font-weight: bold;
    font-size: 1.2rem;
    color: #FFEB09;
    height: 25rem;
    width: 100%;
    object-fit: cover;
    box-sizing: border-box;
    background-image: url(img/slide2.jpg);
    background-size: cover;
    background-position: 50% 80%;
    transition-delay: 0ms;
  }
  #slideThree p {
    position: absolute;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color:rgba(85, 104, 120, 0.8);
    width: 19rem;
    left: 1rem;
    bottom: 1rem;
    margin: 0;
  }
  #slideFour {
    position: absolute;
    font-weight: bold;
    font-size: 1.2rem;
    color: #FFEB09;
    height: 25rem;
    width: 100%;
    box-sizing: border-box;
    background-image: url(img/slide4.jpg);
    background-size: cover;
    background-position: 0% 0%;
    transition-delay: 0ms;
  }
  #slideFour p {
    position: absolute;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color:rgba(85, 104, 120, 0.8);
    width: 21rem;
    left: 1rem;
    bottom: 1rem;
    margin: 0;
  }
  #slideFive {
    position: absolute;
    font-weight: bold;
    font-size: 1.2rem;
    color: #FFEB09;
    height: 25rem;
    width: 100%;
    object-fit: cover;
    box-sizing: border-box;
    background-image: url(img/slide5.jpg);
    background-size: cover;
    background-position: 0% 100%;
    transition-delay: 0ms;
  }
  #slideFive p {
    position: absolute;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color:rgba(85, 104, 120, 0.8);
    width: 20rem;
    height: 6rem;
    right: 1rem;
    top: 1rem;
    margin: 0;
  }
  .aboutus-container-slider-image {
    opacity: 0;
    transition: 1s opacity ease-in-out;
    transition-delay: 1s;
  }
  /* Contracting page */
  .contracting {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 1rem 1rem 1rem 1rem;
  }
  .contracting-title {
    position: absolute;
    top: 0.7rem;
    left: 1rem;
  }
  #ourServicesTitle {
    font-weight: bold;
    font-size: 1.3rem;
    color: white;
  }
  #ourservices {
    position: absolute;
    top: -5.5rem;
    visibility: hidden;
  }
  .contracting-container {
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,.3);
    border-radius: 0.5rem;
    background-color: #556878;
    box-sizing: border-box;
    row-gap: 1rem;
    padding: 3rem 0 1rem 0;
  }
  .contracting-container-section {
    display: flex;
    flex-direction: column;
    box-shadow: 0px -3px 4px -2px rgba(0,0,0,.3), 0px 3px 4px -2px rgba(0,0,0,.3);
  }
  .contracting-container-section img {
    height: 23rem;
    width: 100%;
    box-sizing: border-box;
    object-fit: cover;
  }
  .contracting-container-text {
    height: 23rem;
    padding: 2.5rem;
    background-color: #FFEB09;
    color: black;
    box-sizing: border-box;
    order: 2;
  } 
  .contracting-container p {
    font-size: 1.3rem;
    margin: 0;
    height: auto;
    font-weight: 300;
  } 
  #section2 {
    background-color: #FFEB09;
    color: black;
    order: 1;
  }
  .contracting-container-text-price {
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    gap: 0.5rem;
    row-gap: 1rem;
    padding-top: 0.5rem;
    width: 18.2rem;
  }
  #hawkeye {
    order: 1;
  }
  .contracting-container-text-price p {
    text-align: center;
    color: white;
    background-color: #556878;
    font-size: 1.2rem;
    width: 100%;
  }
  #price {
    position: absolute;
    top: -15rem;
    visibility: hidden;
  }
  #emergency {
    margin-top: 1.5rem;
  }
  #vat {
    text-align: center;
    font-size: 0.9rem;
    margin-top: 1rem;
  }
  #orderdiv{
    padding-bottom: 2rem;
  }
  .contracting-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .contracting-form-container {
    box-shadow: 0px -3px 4px -2px rgba(0,0,0,.3), 0px 3px 4px -2px rgba(0,0,0,.3);
    box-sizing: border-box;
    font-size: 1.3rem;
    height: auto;
    font-weight: 300;
    background-color: #FFEB09;
    text-align: left;
  } 
  #order {
    position: absolute;
    top: -5.5rem;
    visibility: hidden;
  }
  .contracting-form-container p {
    padding: 2rem 3.5rem 1rem 3.5rem;
    text-align: center;
  }
  .form {
    display: flex;
    flex-direction: column;
    outline: none;
    justify-content: left;
    align-items: end;
  }
  .form-fields {
    padding: 0.5rem;
  
  }
  .form-fields input, #message textarea {
    border-radius: 0.2rem;
    font-size: 1.3rem;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    padding-left: 1rem;
    font-family: Nunito;
    width: 21.5rem;
  }
  #name input, #surname input, #company input, #email input, #phone input {
    appearance: none;
    border-width: 1px;
    height: 2rem;
  }
  #name label, #surname label, #company label, #email label, #phone label, #email label, #phone label {
    margin-right: 0;
    margin-bottom: 1rem;
    align-items: start;
    place-content: start;
  }
  input {
    margin-top: 0.3rem;
  }
  #checkbox {
    margin: 0 auto;
    color: black;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    padding: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
  }
  #checkbox a {
    color: blue;
  }
  #checkbox input {
    vertical-align: middle;
    margin: 0 0 0.5rem 0;
    cursor: pointer;
    width: 1.2rem;
    height: 1.2rem;
  }
  #phone p {
    padding: 0;
    padding-right: 3.2rem; 
    font-size: 1rem; 
    text-align: right;
    margin: 0;
  }
  ::placeholder {
    color: lightgray;
  }
  #radio input {
    width: 1.2rem;
    height: 1.2rem;
    margin: 0;
    float: left;
    margin-top: 0.2rem;
    margin-right: 0.5rem;
  }
  #radio label {
    vertical-align: baseline;
    float: left;
    width: 90%;
    margin-bottom: 1rem;

  }
  #radio {
    padding: 1rem 1rem 0 3rem;
  }
  #submit {
    width: 15rem;
    margin: 0 auto;
    border: none;
    background-color: #556878;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.3rem;
    color: white;
    padding: 1rem 0 1rem 0;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  #submit:active {
    background-color: white;
    color: black;
  }
  /* Footer */
  .footer {
    height: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0px -3px 4px -2px rgba(0,0,0,.3), 0px 3px 4px -2px rgba(0,0,0,.3);
    box-sizing: border-box;
    width: 100%;
    background-color: #556878;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
    row-gap: 0.5rem;
    column-gap: 1rem;
    color: white;
  }
  .footer-content h2 {
    font-size: 1.5rem;
    margin: 0;
    font-weight: bold;
    padding-bottom: 1rem;
  }
  .footer-content p, .footer-content a {
    font-size: 1.5rem;
    margin: 0;
    text-align: justify;
    margin-bottom: 0.5rem;
    text-align: right;
    
  }
  .details-title {
    grid-area: details-title;
  }
  .operating-hours-title {
    grid-area: operating-hours-title;
  }
  .links-title {
    grid-area: links-title;
  }
  .details-text {
    position: relative;
    grid-area: details-text;
    flex-direction: column;
    display: block;
    justify-self: end;
    text-align: right;
  }
  .qr-container {
    position: absolute;
    bottom: 0.3rem;
    display: flex;
    flex-direction: column-reverse;
    grid-column: 1;
    grid-row: 1 / 8;
    width: auto;
    height: auto;;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
  .qr-container p {
    width: 6.5rem;
    margin: 0;
    font-size: 1rem;
    text-align: center;
  }
  .qr-field {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.5rem;
    color: black;
    margin: 0;
    cursor: pointer;
  }
  .qr-field p {
    margin: 0;
    padding-top: 0.3rem;
  }
  .click {
    width: 6rem;
    height: 100%;
    align-self: center;
    padding-top: 0.5rem;
  }
  .qr {
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 0.5rem;
  }
  .operating-hours-text {
    grid-area: operating-hours-text;
  }
  .links-text {
    grid-area: links-text;
    display: block;
    text-align: right;
  }
  .map {
    height: 11.2rem;
    border-radius: 0.5rem;
  }
  .copyright {
    grid-area: copyright;
    justify-items: center;
  }
  .copyright p {
    font-size: 1rem;
    margin: 0;
    padding: 0;
  
  }
  /* Up button */
  #upBtn {
    display: none; 
    position: fixed;
    width: 3rem;
    height: 3rem;
    bottom: 3.1rem; 
    right: 2rem;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(181, 197, 216);
    color: black;
    cursor: pointer;
    padding: 0.1rem;
    font-weight: bold;
    border-radius: 50%; 
    font-size: 1rem;
    writing-mode: vertical-rl;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.3);
    opacity: 0.7;
  }
}