html, body {
  box-sizing: border-box;
  font-family: 'Arial Black';
  margin: 0;
  scroll-behavior: smooth;
}
html {
  font-size: 16px;
}
body {
  background-color: rgb(244, 245, 248);
}
a, img, button {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: white;
}
/* Header */
.header {
  height: 4rem;
  display: flex;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,.3);
  box-sizing: border-box;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #6E6E6E;
  z-index: 1;
}
.header-content {
  display: flex;
  flex-direction: row;
  height: 4rem;
  width: 60rem;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}
.logo-section {
  display: flex;
  width: 100%;
  padding: 0.5rem 0 0.5rem 0;
}
.menu-section {
  display: flex;
  width: 34rem;
  height: 4rem;
  font-weight: 100;
  font-size: 1.1rem;
  justify-content: end;
  font-weight: bold;
  gap: 1rem;
  box-sizing: border-box;
}
.menu-section a, .store-button {
  padding: 0;
  align-self: center;
  color: white;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}
.subcategory {
  font-size: 1.1rem;
}
.store-button {
  padding-bottom: 1rem;
  padding-top: 1rem;
}
/* Home "About us" section */
.aboutus {
display: flex;
flex-direction: column;
width: 60rem;
height: 25rem;
margin: 0 auto;
box-sizing: border-box;
padding: 1rem 1rem 0rem 1rem;
}
.aboutus-container {
  display: flex;
  position: relative;
  box-shadow: 2px 2px 5px 0 rgba(0,0,0,.3);
  border-radius: 0.5rem;
  height: 100%;
}
.part1 {
  position: absolute;
  font-weight: bold;
  font-size: 2.5rem;
  color: #FFEB09;
  margin: 0;
  width: 60rem;
  top: 4rem;
  left: 32rem;
  text-shadow: 0.1rem 0.1rem #6E6E6E;
}
.part2 {
  position: absolute;
  font-weight: bold;
  font-size: 2rem;
  color: #FFEB09;
  margin: 0;
  width: 60rem;
  top: 8rem;
  left: 41rem;
  text-shadow: 0.1rem 0.1rem #6E6E6E;
}
video {
  object-fit: cover;
  object-position: 50% 100%;
  width: 100%;
  border-radius: 0.5rem;
}
/* Contracting page */

.contracting {
  display: flex;
  flex-direction: column;
  width: 60rem;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 1rem 1rem 0 1rem;
}
.contracting-title {
    padding-bottom: 1rem;
}
.contracting-title p {
    font-size: 1.3rem;
    margin: 0;
    font-weight: bold;
    color: rgb(4, 35, 99);
}
.contracting-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  box-shadow: 2px 2px 5px 0 rgba(0,0,0,.3);
  border-radius: 0.5rem;
  background-color: #74A8DA;
  box-sizing: border-box;
}
.contracting-container img {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    object-fit: cover;
}
.contracting-container-text {
    height: auto;
    padding: 1rem;
} 
.contracting-container p {
    font-size: 1.1rem;
    margin: 0;
    text-align: justify;
    height: auto;
    font-weight: 300;
    color: white;
} 
.contracting-form {
  display: flex;
  flex-direction: column;
  width: 60rem;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 1rem 1rem 3rem 1rem;
}
.contracting-form-title {
    padding-bottom: 1rem;
}
.contracting-form-title p {
  font-size: 1.3rem;
  margin: 0;
  font-weight: bold;
  color: rgb(4, 35, 99);
}
.contracting-form-container {
  box-shadow: 2px 2px 5px 0 rgba(0,0,0,.3);
  box-sizing: border-box;
  font-size: 1.1rem;
  margin: 0;
  text-align: justify;
  height: auto;
  font-weight: 300;
  border-radius: 0.5rem;
} 
.form {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto auto auto auto;
  padding: 1rem;
  outline: none;
}
.form-fields {
  padding: 0.5rem;
}
.form-fields input, #message textarea {
  border-radius: 0.2rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  padding-left: 1rem;
  font-family: Nunito;
}
#name input, #surname input, #company input, #email input, #phone input {
  width: 18rem;
  appearance: none;
  border-width: 1px;
  height: 2rem;
}
#name label, #surname label, #company label, #email label, #phone label, #email label, #phone label {
  margin-right: 0.3rem;
}
#message label {
  margin-bottom: 0.5rem;
}
#name {
  grid-column: 1;
  grid-row: 1;
  margin-left: auto;
}
#surname {
  grid-column: 1;
  grid-row: 2;
  margin-left: auto;
}
#company {
  grid-column: 1;
  grid-row: 3;
  margin-left: auto;
}
#email {
  grid-column: 1;
  grid-row: 4;
  margin-left: auto;
}
#phone {
  grid-column: 1;
  grid-row: 5;
  margin-left: auto;
}
#message {
  grid-column: 2;
  grid-row: 1 / 6;
  display: flex;
  flex-direction: column;
}
#message textarea {
  height: 100%;
  resize: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
}
#checkbox {
  grid-column: 1 / 3;
  grid-row: 6;
  margin: 0 auto;
  color: black;
  padding-bottom: 1rem;
}
#checkbox a {
  color: blue;
}
#checkbox input {
  vertical-align: middle;
  margin: 0 0 0.25rem 0;
  cursor: pointer;
}
#submit {
  grid-column: 1 / 3;
  grid-row: 7;
}
#phone p {
  margin: 0 1.3rem 0 0; 
  padding: 0; 
  font-size: 0.9rem; 
  text-align: right;
}
::placeholder {
  color: lightgray;
}
#submit {
  width: 10rem;
  margin: 0 auto;
  border: none;
  background-color: #74A8DA;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.1rem;
  color: white;
}
#submit:active {
  background-color: white;
  color: black;
}
/* Home "Our products" section & Store products section */
.products-section {
  display: flex;
  width: 60rem;
  height: auto;
  margin: 0 auto;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1rem 1rem 0rem 1rem;
  z-index: 0;
}
.products-title {
  padding-bottom: 1rem;
  position: relative;
  z-index: 0;
}
.products-title p {
  font-size: 1.3rem;
  margin: 0;
  font-weight: bold;
  color: rgb(4, 35, 99);
  z-index: 0;
  position: relative;
}
.products-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 12rem;
  box-sizing: border-box;
  gap: 1rem;
  z-index: 0;
}
.product-cell {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 2px 2px 5px 0 rgba(0,0,0,.3);
  border-radius: 0.5rem;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.product-cell-left {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 1rem;
  font-size: 1.1rem;
  color: white;
  font-weight: bold;
  background-color: rgb(51, 70, 116);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  box-sizing: border-box;
}
.product-cell-left h2 {
  margin: 0;
  font-size: 1.1rem;
}
.product-cell-left p {
  font-size: 1rem;
  text-align: left;
  font-weight: 300;
}
.product-cell-right {
  display: flex;
  width: 100%;
  height: 100%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  box-sizing: border-box;
}
.product-cell-right img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  box-sizing: border-box;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
#desinfectionDescription, #des .product-cell-left {
  background-color: #899dc9;
}
#combinationDescription, #comb .product-cell-left {
  background-color: #008fe1;
}
#careDescription, #care .product-cell-left {
  background-color: #257a56;
}
#spacDescription, #spec .product-cell-left {
  background-color: #c13540;
}
#contractDescription {
  background-color: #74A8DA;
}
#spec {
  padding-bottom: 3rem;
}
.anchor {
  display: block;
  visibility: hidden;
  position: absolute;
  top: -3.8rem;
  z-index: -1;
}
/* Footer */
.footer {
  height: auto;
  display: block;
  box-shadow: 2px 2px 11px 8px rgba(0,0,0,.3);
  box-sizing: border-box;
  width: 100%;
  background-color: rgb(51, 70, 116);
}
.footer-content {
  display: grid;
  height: auto;
  width: 60rem;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
  'details-title operating-hours-title links-title'
  'details-text operating-hours-text links-text'
  'copyright copyright copyright';
  row-gap: 0.5rem;
  column-gap: 3rem;
  color: white;
}
.footer-content h2 {
  font-size: 1.3rem;
  margin: 0;
  font-weight: bold;
  padding-bottom: 1rem;
  text-align: right;
}
.footer-content p, .footer-content a {
  font-size: 1rem;
  margin: 0;
  text-align: justify;
  margin-bottom: 0.5rem;
  text-align: right;
}
.details-title {
  grid-area: details-title;
}
.operating-hours-title {
  grid-area: operating-hours-title;
}
.links-title {
  grid-area: links-title;
}
.details-text {
  grid-area: details-text;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto auto auto;
}
.details-text p {
grid-column: 2;
}
.qr-container {
  display: flex;
  flex-direction: column-reverse;
  grid-column: 1;
  grid-row: 1 / 8;
  width: auto;
  height: auto;;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
.qr-container p {
  width: 6.5rem;
  margin: 0;
  font-size: 0.8rem;
  text-align: center;
  padding: 0.5rem 0 0.5rem 0;
}
.qr-field {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0.5rem;
  color: black;
  margin: 0;
  align-items: center;
  cursor: pointer;
}
.qr-field p {
  margin: 0;
  padding: 0.5rem 0 0 0;

}
.qr {
  width: 6.5rem;
  height: 6.5rem;
}
.operating-hours-text {
  grid-area: operating-hours-text;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto auto auto;
}
.operating-hours-text p {
  grid-column: 2;
}
.abas-container {
  display: flex;
  flex-direction: column-reverse;
  grid-column: 1;
  grid-row: 1 / 8;
  width: auto;
  height: auto;;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
.abas-container p {
  width: 8rem;
  margin: 0;
  font-size: 0.8rem;
  text-align: center;
  padding: 0.5rem 0 0.5rem 0;
}
.abas-logo {
  width: 8rem;
  height: 8rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.links-text {
  grid-area: links-text;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto auto auto;
}
.links-text a {
grid-column: 2;
cursor: pointer;
}
.payments-container {
  display: flex;
  flex-direction: column-reverse;
  grid-column: 1;
  grid-row: 1 / 8;
  width: auto;
  height: auto;;
  margin-bottom: 0.5rem;
}
.payments-container img {
  width: 3.3rem;
  height: auto;
  padding-top: 0.3rem;
}
.copyright {
  grid-area: copyright;
  justify-items: center;
}
.copyright p {
  font-size: 0.8rem;
  margin: 0;
  padding: 0;

}
/* Up button */
#upBtn {
  display: none; 
  position: fixed;
  width: 3rem;
  height: 3rem;
  bottom: 3.1rem; 
  right: 2rem;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgb(181, 197, 216);
  color: black;
  cursor: pointer;
  padding: 0.1rem;
  font-weight: bold;
  border-radius: 50%; 
  font-size: 1rem;
  writing-mode: vertical-rl;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,.3);

}
/* Mobile divs */
.mobile-menu-btn {
  display: none;
}
.menu-lang-mobile {
  display: none;
}
.lang-selector-mobile {
  display: none;
}
.nav-toggle {
  display: none;
}
.menu-section-mobile {
  display: none;
}
@media only screen and (min-width: 960px) { 
  html {
    font-size: 1.1vw;
  }
}
@media only screen and (max-width: 960px) {
  html {
    font-size: 1.6vw;
  }
}
@media only screen and (max-width: 760px) and (orientation: portrait) {
  html, body {
    box-sizing: border-box;
    font-family: 'Nunito';
    margin: 0;
    font-weight: 300;
  }
  html {
    font-size: 16px;
  }
  body {
    background-color: rgb(244, 245, 248);
  }
  .menu-lang {
    display: none;
  }
  .menu-section-dropdown {
    display: none;
  }
  .lang-selector {
    display: none;;
  }
  /* Mobile menu */
  .menu-lang-mobile {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 3rem;
    right: 0;
    width: 70%;
    height: auto;
    background-color: white;
    z-index: 1;
  }
  .menu-section-mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    font-weight: 100;
    font-size: 1.3rem;
    font-weight: bold;
    box-sizing: border-box;
    padding-right: 0;
    padding-left: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);  
    gap: 1rem;
    align-items: end;
    padding-right: 1rem;
  }
  .menu-section-mobile a {
    height: 2rem;
    padding: 0;
    color: rgb(4, 35, 99);
    margin-bottom: 0.05rem;
  }
  .lang-selector-mobile {
    display: flex;
    width: auto;
    height: auto;
    font-weight: 300;
    font-size: 0.8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: center;
    font-size: 1rem;
    justify-content: space-evenly;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);  
  }
  .lang-selector-mobile a {
    padding: 0.1rem;
    height: 1rem;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: black;
  }
  .subcategory {
    font-size: 1.1rem;
    align-self: flex-end;
  }
  .mobile-menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1.375rem;
    width: 1.625rem;
  }
  .nav-toggle .bar {
    height: 0.25rem;
    width: 1.75rem;
    background-color: rgb(4, 35, 99);
    transition: all 100ms ease-in-out;
    border-radius: 0.3rem;
  }
  .x:nth-of-type(1) {
    transition: all 100ms ease-in-out;
    transform: rotate(45deg);
    transform-origin: top left;
    width: 1.75rem;
  }
  .x:nth-of-type(2) {
    transition: all 100ms ease-in-out;
    transform-origin: center;
    width: 0;
  }
  .x:nth-of-type(3) {
    transition: all 100ms ease-in-out;
    transform: rotate(-45deg);
    transform-origin: bottom left;
    width: 1.75rem;
  }
  /* Mobile header */
  .header {
    height: 3rem;
    display: block;
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,.3);
    box-sizing: border-box;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
  }
  .header-content {
    display: flex;
    flex-direction: row;
    height: 3rem;
    width: auto;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    justify-content: space-between;
    z-index: 1;
  }
  .logo-section {
    display: flex;
    width: 20rem;
    height: auto;
  }
  .logo {
    padding: 0.5rem 0rem 0.5rem 0rem;
  }
  .slogan {
    font-style: italic;
    font-weight: 100;
    font-size: 0.8rem;
    margin: 0;
    align-self: center;
  }
  .cz-flag {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  }
  /* Mobile home "About us" section */
  .aboutus {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 1rem 1rem 0rem 1rem;
  }
  .aboutus-title {
    padding-bottom: 1rem;
  }
  .aboutus-title p {
    font-size: 1.3rem;
    margin: 0;
    font-weight: bold;
    color: rgb(4, 35, 99);
  }
  .aboutus-container {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;  
  }
  .aboutus-container img {
    width: 100%;
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,.3);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0;
    box-shadow: none;
  }
  .aboutus-container p {
    font-size: 1rem;
    margin: 0;
    text-align: justify;
  }
/* Mobile home "Clients" section */
  .our-clients {
    display: flex;
    width: auto;
    height: auto;
    margin: 0 auto;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1rem 1rem 3rem 1rem;
  }
  .our-clients-title {
    padding-bottom: 1rem;
  }
  .our-clients-title p {
    font-size: 1.3rem;
    margin: 0;
    font-weight: bold;
    color: rgb(4, 35, 99);
  }
  .clients {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    box-sizing: border-box;
    gap: 1rem;
  }
  .clients img {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,.3);
    border-radius: 0.5rem;
    cursor: pointer;
  }
  /* Mobile home "Our products" section & Store products section */
  .products-section {
    display: flex;
    width: auto;
    height: auto;
    margin: 0 auto;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1rem 1rem 0rem 1rem;
  }
  .products-title {
    padding-bottom: 1rem;
  }
  .products-title p {
    font-size: 1.3rem;
    margin: 0;
    font-weight: bold;
    color: rgb(4, 35, 99);
  }
  .products-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 12rem;
    box-sizing: border-box;
    gap: 1rem;
  }
  .product-cell {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,.3);
    border-radius: 0.5rem;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
  .product-cell-left {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 1rem;
    font-size: 1.1rem;
    color: white;
    font-weight: bold;
    background-color: rgb(51, 70, 116);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    box-sizing: border-box;
  }
  .product-cell-left h2 {
    margin: 0;
    font-size: 1.1rem;
  }
  .product-cell-left p {
    font-size: 1rem;
    text-align: left;
    font-weight: 300;
  }
  .product-cell-right {
    display: flex;
    width: 100%;
    height: 100%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    box-sizing: border-box;
  }
  .product-cell-right img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    box-sizing: border-box;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  #desinfectionDescription, #des .product-cell-left {
    background-color: #899dc9;
  }
  #combinationDescription, #comb .product-cell-left {
    background-color: #008fe1;
  }
  #careDescription, #care .product-cell-left {
    background-color: #257a56;
  }
  #spacDescription, #spec .product-cell-left {
    background-color: #c13540;
  }
  #spec {
    padding-bottom: 3rem;
  }
  /* Contracting mobile page */
.contracting {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 1rem 1rem 0rem 1rem;
}
.contracting-title {
  padding-bottom: 1rem;
}
.contracting-title p {
  font-size: 1.3rem;
  margin: 0;
  font-weight: bold;
  color: rgb(4, 35, 99);
}
.contracting-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  box-shadow: 2px 2px 5px 0 rgba(0,0,0,.3);
  border-radius: 0.5rem;
  background-color: #74A8DA;
  box-sizing: border-box;
}
.contracting-container img {
  width: 100%;
  box-sizing: border-box;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0;
  object-fit: cover;
}
.contracting-container-text {
    height: auto;
    padding: 1rem;
} 
.contracting-container p {
    font-size: 1.1rem;
    margin: 0;
    text-align: justify;
    height: auto;
    font-weight: 300;
    color: white;
} 
.contracting-form {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 1rem 1rem 3rem 1rem;
}
.contracting-form-title {
    padding-bottom: 1rem;
}
.contracting-form-title p {
  font-size: 1.3rem;
  margin: 0;
  font-weight: bold;
  color: rgb(4, 35, 99);
}
.contracting-form-container {
  box-shadow: 2px 2px 5px 0 rgba(0,0,0,.3);
  box-sizing: border-box;
  font-size: 1.1rem;
  margin: 0;
  text-align: justify;
  height: auto;
  font-weight: 300;
  border-radius: 0.5rem;
  width: auto;
} 
.form {
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 1rem;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}
.form-fields {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.form-fields input, #message textarea {
  border-radius: 0.2rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: Nunito;
  box-sizing: border-box;
}
#name input, #surname input, #company input, #email input, #phone input {
  width: 100%;
  margin: 0;
  appearance: none;
  border-width: 1px;
  height: 2rem;
}
#name label, #surname label, #company label, #email label, #phone label, #email label, #phone label {
  margin-right: 0;
  margin-bottom: 0.5rem;
}
#message label {
  margin-bottom: 0.5rem;
}
#name {
  grid-column: 1;
  grid-row: 1;
  margin-left: auto;
}
#surname {
  grid-column: 1;
  grid-row: 2;
  margin-left: auto;
}
#company {
  grid-column: 1;
  grid-row: 3;
  margin-left: auto;
}
#email {
  grid-column: 1;
  grid-row: 4;
  margin-left: auto;
}
#phone {
  grid-column: 1;
  grid-row: 5;
  margin-left: auto;
}
#message {
  grid-column: 2;
  grid-row: 1 / 6;
}
#message textarea {
  height: 10rem;
  width: 100%;
  resize: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}
#checkbox {
  grid-column: 1 / 3;
  grid-row: 6;
  margin: 0 auto;
  color: black;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  justify-content: center;
}
#checkbox a {
  color: blue;
}
#checkbox input {
  cursor: pointer;
  margin: 0;
  margin-right: 0.2rem;
  margin-top: 0.05rem;
}
#submit {
  grid-column: 1 / 3;
  grid-row: 7;
}
#phone p {
  margin: 0; 
  padding: 0; 
  font-size: 0.9rem; 
  text-align: center;
}
::placeholder {
  color: lightgray;
}
#submit {
  width: 10rem;
  margin: 0 auto;
  border: none;
  background-color: #74A8DA;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.1rem;
  color: white;
}
#submit:active {
  background-color: white;
  color: black;
}
  /* Mobile home footer */
  .footer {
    height: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 11px 8px rgba(0,0,0,.3);
    box-sizing: border-box;
    width: 100%;
    background-color: rgb(51, 70, 116);
  }
  .footer-content {
    display: grid;
    flex-direction: column;
    height: auto;
    width: auto;
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    grid-template-areas: 
    'details-title'
    'details-text'
    'operating-hours-title'
    'operating-hours-text'
    'links-title'
    'links-text'
    'copyright'; 
    color: white;
    gap: 0;
  }
  .footer-content h2 {
    font-size: 1.3rem;
    margin: 0;
    font-weight: bold;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  .footer-content p {
    font-size: 1rem;
    margin: 0;
    text-align: justify;
    margin-bottom: 0.5rem;
    text-align: right;
  }
  .details-title {
    grid-area: details-title;
  }
  .operating-hours-title {
    grid-area: operating-hours-title;
  }
  .links-title {
    grid-area: links-title;
  }
  .details-text {
    grid-area: details-text;
    display: grid;
    grid-template-columns: auto 11.875rem;
    grid-template-rows: auto auto auto auto auto auto auto;
  }
  .details-text p {
  grid-column: 2;
  }
  .qr-container {
    display: flex;
    flex-direction: column-reverse;
    grid-column: 1;
    grid-row: 1 / 8;
    width: 6.5rem;
    height: auto;;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    align-self: start;
    justify-self: center;
  }
  .qr-container p {
    width: 6.5rem;
    margin: 0;
    font-size: 0.8rem;
    text-align: center;
    padding-top: 0;
  }
  .qr-field {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.5rem;
    color: black;
    margin: 0;
  }
  .qr-field p {
    margin: 0;
    padding-top: 0.3rem;
  }
  .qr {
    width: 6.5rem;
    height: 6.5rem;
  }
  .operating-hours-text {
    grid-area: operating-hours-text;
  }
  .links-text {
    grid-area: links-text;
  }
  .operating-hours-text {
    grid-area: operating-hours-text;
    display: grid;
    grid-template-columns: auto 11.875rem;
    grid-template-rows: auto auto auto auto auto auto auto;
  }
  .operating-hours-text p {
    grid-column: 2;
  }
  .abas-container {
    display: flex;
    flex-direction: column-reverse;
    grid-column: 1;
    grid-row: 1 / 8;
    width: auto;
    height: auto;;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    align-items: center;
    justify-content: start;
  }
  .abas-container p {
    width: 8rem;
    margin: 0;
    font-size: 0.8rem;
    text-align: center;
    padding: 0rem 0 0.5rem 0;
  }
  .abas-logo {
    width: 8rem;
    height: 8rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  .links-text {
    grid-area: links-text;
    display: grid;
    grid-template-columns: auto 11.875rem;
    grid-template-rows: auto auto auto auto auto;
  }
  .links-text a {
  grid-column: 2;
  cursor: pointer;
  }
  .payments-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    grid-column: 1 / 2;
    width: auto;
    height: auto;;
    align-items: center;
    justify-content: center;
    overflow: visible;
    margin: 0;
  }
  .payments-container img {
    width: 3.3rem;
    height: auto;
    padding: 0.33rem
  }
  .copyright {
    grid-area: copyright;
    justify-items: center;
    padding-top: 1rem;;
  }
  .copyright p {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
  }
  /* Mobile Up button */
  #upBtn {
    display: none; 
    position: fixed;
    width: 3rem;
    height: 3rem;
    bottom: 0.5rem; 
    right: 1rem;
    z-index: 1;
    border: none;
    outline: none;
    background-color: rgb(181, 197, 216);
    color: black;
    cursor: pointer;
    padding: 0.1rem;
    font-weight: bold;
    border-radius: 50%; 
    font-size: 1rem;
    writing-mode: vertical-rl;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.3);
  }
}